{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

<h1>Report</h1>

<h2>งานสอน</h2>

<p>จำนวนหน่วยกิตที่บรรยายต่อสัปดาห์</p>

<svg width="500" height="500"></svg>
<script>

	
	var svg = d3.select("svg"),
	    margin = {top: 20, right: 10, bottom: 30, left: 50},
	    width = +svg.attr("width") - margin.left - margin.right,
	    height = +svg.attr("height") - margin.top - margin.bottom;

	var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
	    y = d3.scaleLinear().rangeRound([height, 0]);
	

	var widthScale = d3.scaleLinear()
						.domain([0,50])
						.range([0,width]);

	var x = d3.scaleBand().rangeRound([0, width]).padding(0.1);

	// var color = d3.scale.linear()
	// 				.domain([0,60])
	// 				.range(["red","blue"]);

	var canvas = svg.append("svg")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	

	d3.json("{% url 'workload:sum_report' %}", function (error,data) 
	{

		// var canvas = d3.select(".container").append("svg")
		// 			.attr("width",width)
		// 			.attr("height",height)
		
		y.domain(data.map(function(d) { return d.user__username; }));

		
	
		canvas.selectAll("rect")
				.data(data)
				.enter()
					.append("rect")
					.attr("width",function (d) { return widthScale(d.sum_items) ; })
					.attr("height", 45)
					.attr("y",function(d,i) {return i * 50 ; })
					.attr("fill","blue")

		canvas.selectAll("text")
			.data(data)
			.enter()
				.append("text")
				.attr("fill","dark")
				.attr("y",function (d,i) { return i * 50 + 35; })
				.attr("x",function (d) {return widthScale(d.sum_items) ; })
				.text(function(d) { return d.user__username + " sum: " + d.sum_items + " หน่วยกิต"; })

		canvas.append("svg")
			.attr("tranform","translate(0,"+ height +")")
			.call(d3.axisBottom(widthScale))


	});
	      

</script>

<a href="{% url 'workload:detail' %}">teacher1</a>
<a href="{% url 'workload:detail' %}">teacher2</a>
<a href="{% url 'workload:detail' %}">teacher3</a>
 

{% endblock content%}