{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-6">
		  	<img src="{% static 'logo.png' %}" class="page-header" style="width:80px;height:90px;" >
		</div>
	</div>
	<div class="row">
		<br/>
		<div class="col-sm-4">
			<form method="POST" action='' enctype='multipart/form-data'>
				{% csrf_token %}
				{{ form|crispy }}
			<input type="submit" class='btn btn-primary' value='{{title}}' name="">
		</div>	
	</div>
</div>

{% endblock content%}
