
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block head_title %}Workload{% endblock head_title%}</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
	{% load crispy_forms_tags %}
	<!-- Bootstarp -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >

	<link rel="stylesheet" href="{% static 'css/dist/css/sb-admin-2.css' %}" >
	<link rel="stylesheet" href="{% static 'css/metisMenu/metisMenu.min.css' %}" >

	<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" >



</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
		  	<h2 class="page-header">Workload</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
		  	<img src="{% static 'logo.png' %}" style="width:100px;height:100px;">
		</div>
	</div>
	<div class="row">
		<br/>
		<div class="col-sm-4">
			<form method="POST" action='' enctype='multipart/form-data'>{% csrf_token %}
				{{ form|crispy }}
			<input type="submit" class='btn btn-primary' value='{{title}}' name="">
			{% if '{{title}}' == 'Register'  %}
			<a href="{% url 'social:begin' 'github' %}" class='btn btn-default'>Login with GitHub</a>
			<a href="{% url 'register' %}" class='btn btn-default'> Register</a>
			{% endif %}
		</div>	
	</div>
	<div class="row">
		<br>
		<div class="col-sm-2">
			<br>
			<!-- <a href="{% url 'social:begin' 'facebook' %}">Login with facebook</a><br>
			<a href="{% url 'social:begin' 'google' %}">Login with google</a><br> -->
		</div>
		<div class="col-sm-1">
			
		</div>
	</div>
</div>
	


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>

  	<script src="{% static 'css/metisMenu/metisMenu.min.js' %} "></script>
  	<script src="{% static 'css/dist/js/sb-admin-2.js' %} "></script>

  	<!-- <script src="https://d3js.org/d3.v3.js"></script>
  	<script src="https://d3js.org/d3.v3.min.js"></script>



</body>
</html>

