{% extends "base.html" %}
{% load crispy_forms_tags %}
{% crispy TeachingForm TeachingForm.helper %}


{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

  <div class="row">
		<div class="col-lg-12">
	  		<h3 class="page-header">งานเขียนเอกสาร</h3>
	  	</div>
	</div>
  	<div class="row">
	  	<div class="col-lg-12">
	  		<a href="{% url 'workload4:create' %}" class="btn btn-info">เพิ่ม</a>
	  		<a class="glyphicon glyphicon-plus btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ></a>
	  		<a href="{% url 'workload4:export' %}" class="btn btn-default pull-right"> Excel Report </a>
		</div>
	</div>
	<br>
	<div class="row">
	<div class="col-lg-12">
	<table class="table table-hover" >
		<thead>
			<tr>
				<th class="text-center">รหัสวิชา</th>
				<th class="col-lg-2 text-center">วิชา</th>
				<th class="text-center">ผู้แต่งร่วม</th>
				<th class="text-center">จำนวนหน้า</th>
				<th class="text-center">สัดส่วนผลงาน</th>
				<th class="text-center">ประเภทผลงาน</th>
				<th class="text-center"> </th>
				{% if request.user.is_staff  %}
				<th class="text-center">User</th>
				{% endif %}
				<th class="text-center"> </th>
				<th class="text-center"> </th>
			</tr>
		</thead>
		<tbody>
			{% for obj in object_list %}	
			<tr>
				<td class="text-center">{{ obj.subject_ID }}</td>
				<td class="text-center">{{ obj.subject_name }}</td>
				<td class="text-center">{{ obj.assist_name }}</td>
				<td class="text-center">{{ obj.page }}</td>
				<td class="text-center">{{ obj.ratio }}</td>
				<td class="text-center">{{ obj.degree }}</td>
				<td class="text-center">
						{% if obj.comment %}
						<a href="">
							<span class="glyphicon glyphicon-comment" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{obj.comment}}"></span></a>
						{% else %}
						<p class="text-center"><small></small></p>
						{% endif %}
				</td>
				{% if request.user.is_staff  %}
				<td class="text-center">{{ obj.user}}</td>
				{% endif %}
				<td class="text-center">
					<a class="glyphicon glyphicon-cog" href="{% url 'workload4:update' id=obj.id %}">
					</a>
				</td>
				<td class="text-center">
					<a href="{% url 'workload4:delete' id=obj.id %}" >
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
			{% endfor%}
		</tbody>
	</table>
	</div>
	</div>


	<!-- workload form -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="exampleModalLabel">Form</h4>
		      </div>
		      <div class="modal-body">

					{% csrf_token %}
					{% crispy form %}

		      </div>
		    </div>
		</div>
	</div>
{% endblock content%}