{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">รายงานงานเขียนเอกสารประกอบการสอน เอกสารคำสอน<br>หนังสือ ตำรา หรือบทความวิชาการ</h3>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            {% csrf_token %}
            {% crispy form %}
        </div>
        <a href="{% url 'workload4:export' %}" class="btn btn-success pull-right"> Excel Report </a>
    </div>
</div>
<br>
<p>จำนวนชิ้นงานต่ออาจารย์แต่ละท่าน ปี {{year}}</p>

<div class="row">
	<div class="col-lg-12">
		<div id="svg"></div>
	</div>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

		
		var url = "{% url 'workload4:sum_report' %}";
		d3.json(url, function (error, data) {

			var doc = data.map(function(d) {
						return d.total;
				});

			console.log(doc)

			var maxLecture = d3.max(doc);

		    var margin = { top: 10, right: 10, bottom: 260, left: 85 };

		    var graphWidth = 400, graphHeight = 300;

		    var totalWidth = graphWidth + margin.left + margin.right;
		    var totalHeight = graphHeight + margin.top + margin.bottom;

		    var axisPadding = 3;


		    var svg = d3.select('#svg')
		                .append('svg')
		                .attr({ width: totalWidth, height: totalHeight });

            var mainGroup = svg
                        .append('g')
                        .attr('transform', 'translate(' + margin.left + ',' +
                        margin.top + ")");

            var bands = d3.scale.ordinal()
                .domain(doc)
                .rangeBands([0, graphWidth], 0.05);

            var yScale = d3.scale
                .linear()
                .domain([0, maxLecture])
                .range([0, graphHeight]);

            function translator(d, i) {
                console.log(bands.range()[i])
                return "translate(" + bands.range()[i] + "," +
                                        (graphHeight - yScale(d)) + ")";
            }

            var barGroup = mainGroup.selectAll('g')
                .data(doc)
                .enter()
                .append('g')
                .attr('transform', translator);

            barGroup.append('rect')
                .attr({
                    fill: 'steelblue',
                    width: bands.rangeBand(),
                    height: function(d) { return yScale(d); }
                });

            barGroup.append('text')
                .text(function(d) { return d; })
                .style('text-anchor', 'start')
                .attr({
                    dx: 10,
                    dy: -10,
                    transform: 'rotate(90)',
                    fill: 'white'
                });

            var leftAxisGroup = svg.append('g');
            leftAxisGroup.attr({
                transform: 'translate(' + (margin.left - axisPadding) + ',' +
                                            margin.top + ')'
            });

            var yAxisScale = d3.scale
                .linear()
                .domain([maxLecture, 0])
                .range([0, graphHeight]);

            var leftAxis = d3.svg.axis()
                .orient('left')
                .scale(yAxisScale);

            var leftAxisNodes = leftAxisGroup.call(leftAxis);
            styleAxisNodes(leftAxisNodes);

            var titles = data.map(function(d) { return d.user__username; });
            var bottomAxisScale = d3.scale.ordinal()
                .domain(titles)
                .rangeBands([axisPadding, graphWidth + axisPadding]);

            var bottomAxis = d3.svg
                .axis()
                .scale(bottomAxisScale)
                .orient("bottom");

            var bottomAxisX = margin.left - axisPadding;
            var bottomAxisY = totalHeight - margin.bottom + axisPadding;

            var bottomAxisGroup = svg.append("g")
                .attr({ transform: 'translate(' + bottomAxisX + ',' + bottomAxisY + ')' });

            var bottomAxisNodes = bottomAxisGroup.call(bottomAxis);
            styleAxisNodes(bottomAxisNodes);

            bottomAxisNodes.selectAll("text")
                .style('text-anchor', 'start')
                .attr({
                    dx: 10,
                    dy: -5,
                    transform: 'rotate(60)'
                });

            function styleAxisNodes(axisNodes) {
                axisNodes.selectAll('.domain')
                    .attr({
                        fill: 'none',
                        'stroke-width': 1,
                        stroke: 'black'
                    });
                axisNodes.selectAll('.tick line')
                    .attr({
                        fill: 'none',
                        'stroke-width': 1,
                        stroke: 'black'
                    });
            }
        });


</script>

 

{% endblock content%}