{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

<h1>งานสอน</h1>

<table class="table">
	<tr>

		<!-- <th>ลำดับ</th> -->
		<th>ชื่อวิชา</th>
		<th>สัดส่วนการสอน</th>
		<th>จำนวนหน่วยกิตการบรรยาย</th>
		<th>จำนวนหน่วยกิตการปฏิบัติการ</th>
		<th>ภาค</th>
		<th>จำนวนนักศึกษา</th>
		<th>สัดส่วนคะแนน</th>
		<th>หมายเหตุ</th>
		{% if request.user.is_staff  %}
		<th>User</th>
		{% endif %}
		<th>แก้ไข</th>
		<th>ลบ</th>
	</tr>

{% for obj in object_list %}	
	<tr>
		<td>{{ obj.subject}}</td>
		<td>{{ obj.ratio}}</td>
		<td>{{ obj.num_of_lecture}}</td>
		<td>{{ obj.num_of_lab}}</td>
		<td>{{ obj.program_ID}}</td>
		<td>{{ obj.num_of_student}}</td>
		<td>{{ obj.ratio_of_score}}</td>
		<td>{{ obj.comment}}</td>
		{% if request.user.is_staff  %}
		<td>{{ obj.user}}</td>
		{% endif %}
		<td><a href="{% url 'workload:update' id=obj.id %}">Edit</a><br/></td>
		<td><a href="{% url 'workload:delete' id=obj.id %}">Delete</a><br/></td>
	</tr>

{% endfor%}

</table>

<a href="{% url 'workload:create' %}"><button type="button" class="btn btn-default .btn-lg">เพิ่ม</button></a>
<a href="{% url 'workload:report' %}"><button type="button" class="btn btn-default .btn-lg">Report</button></a>


<form method="POST">
	{% csrf_token %}

		<button type="submit" class="btn btn-default pull-right" name="excel">Excel Report</button>

</form>

{% endblock content%}